//- extends layout

//- block content
//-   - let MusicalInstruments = results

//-   .container-fluid
//-     .row
//-       each item, index in MusicalInstruments
//-         .col-sm-4
//-           .instrument(onclick=`buy(${index})`)
//-             h3 #{item.instrument_name}
//-             p Condition: #{item.condition}
//-             p Price: #{item.price}
//-           .col-sm-2
//-             p Instrument Name: #{item.instrument_name}
//-             p Condition: #{item.condition}
//-             p Price: #{item.price}
//-           button.btn( class="btn-danger ml-1") Update
//-           button.btn( class="btn-info ml-1") Delete
//-           button.btn( class="btn-primary ml-1") inspect

//-   script.
//-     function buy(index) {
//-       alert("You purchased item " + index);
//-     }
extends layout
 
block content
  h1= title
  - let items = results;
  div(class="container-fluid")
  div(class="row m-1")
    each item in items
      - let destination = `dispatch(\"/MusicalInstruments/update?id=${item._id}\")`
      div(class="row-sm-2", class="m-1") Item: #{item.instrument_name}(#{item.condition}) is #{item.price}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path}