extends layout

block content
  - let MusicalInstruments = results

  .container-fluid
    .row
      each item, index in MusicalInstruments
        .col-sm-4
          .instrument(onclick=`buy(${index})`)
            h3 #{item.instrument_name}
            p Condition: #{item.condition}
            p Price: #{item.price}
          .col-sm-2
            p Instrument Name: #{item.instrument_name}
            p Condition: #{item.condition}
            p Price: #{item.price}

  script.
    function buy(index) {
      alert("You purchased item " + index);
    }
