extends layout

block content
  h1= title
  if toShow == null
    h2 No instance to show
  else
    - let MusicalInstrumentsid = toShow._id
    - let MusicalInstruments_name = toShow.instrument_name
    - let MusicalInstrumentscondition = toShow.condition
    - let MusicalInstrumentsprice = toShow.price
    div
      div.row
        div(class='MusicalInstrumentsAttr mr-3') Musical Instruments ID is:
        div #{MusicalInstrumentsid}
      div.row
        div(class='MusicalInstrumentsAttr mr-3') Musical Instruments Name is:
        div #{MusicalInstruments_name}
      div.row
        div(class='MusicalInstrumentsAttr mr-3') Musical Instruments condition is:
        div #{MusicalInstrumentscondition}
      div.row
        div(class='MusicalInstrumentsAttr mr-3') Musical Instruments price is:
        div #{MusicalInstrumentsprice}
